@each $index in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-#{$index} {
        width: ($index * 8.33333%) !important;
    }
}

@each $index in -10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,
20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 40, 44, 45, 50, 55, 60, 70, 75, 80,
90, 100, 150, 180, 200, 250, 270, 305, 410 {
    .top-#{$index} {
        top: #{$index}px;
    }

    .right-#{$index} {
        right: #{$index}px;
    }

    .left-#{$index} {
        left: #{$index}px;
    }

    .p-#{$index} {
        padding: #{$index}px !important;
    }

    .pl-#{$index} {
        padding-left: #{$index}px !important;
    }

    .pt-#{$index} {
        padding-top: #{$index}px !important;
    }

    .pb-#{$index} {
        padding-bottom: #{$index}px !important;
    }

    .pr-#{$index} {
        padding-right: #{$index}px !important;
    }

    .px-#{$index} {
        padding-left: #{$index}px !important;
        padding-right: #{$index}px !important;
    }

    .py-#{$index} {
        padding-top: #{$index}px !important;
        padding-bottom: #{$index}px !important;
    }

    .m-#{$index} {
        margin: #{$index}px !important;
    }

    .ml-#{$index} {
        margin-left: #{$index}px !important;
    }

    .mt-#{$index} {
        margin-top: #{$index}px !important;
    }

    .mb-#{$index} {
        margin-bottom: #{$index}px !important;
    }

    .mr-#{$index} {
        margin-right: #{$index}px !important;
    }

    .mx-#{$index} {
        margin-left: #{$index}px !important;
        margin-right: #{$index}px !important;
    }

    .my-#{$index} {
        margin-top: #{$index}px !important;
        margin-bottom: #{$index}px !important;
    }

    .radius-#{$index} {
        border-radius: #{$index}px !important;
    }

    .width-#{$index} {
        width: #{$index}px !important;
    }

    .width-#{$index*10} {
        width: #{$index * 10}px !important;
    }

    .height-#{$index} {
        height: #{$index}px !important;
    }

    .height-#{$index*10} {
        height: #{$index * 10}px !important;
    }

    .flex-#{$index} {
        flex: 0 0 #{$index}px;
    }

    .flex-#{$index*10} {
        flex: 0 0 ($index * 10px);
    }
}

@each $index, $radio in (1, "8.33%"), (2, "16.66%"), (3, "25%"), (4, "33.33%"),
(5, "41.66%"), (6, "50%"), (7, "58.33%"), (8, "66.66%"), (9, "75%"),
(10, "100%") {
    .xs#{$index} {
        flex-basis: #{$radio};
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: #{$radio};
    }

    .flex#{$index} {
        flex: 0 0 #{$radio};
    }
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    // width: 100vw;
    height: 100vh;
}

.full-height {
    height: calc(100vh - 137px);
}

/** 隐藏 */
.hide {
    display: none;
}

/** 左浮动 */
.pull-left {
    float: left;
}

/** 设置为块元素 */
.block {
    display: block;
}

/*高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/*滚动条里面轨道*/
::-webkit-scrollbar-track {
    background: transparent;
}

/** flex布局 */
.layout {
    display: flex;
}

/**  flex水平居中 */
.justify-center {
    justify-content: center;
}

/** 两端对齐 */
.justify-between {
    justify-content: space-between;
}

/** 靠尾部对齐 */
.justify-end {
    justify-content: flex-end;
}

/** 环绕对齐 */
.justify-around {
    justify-content: space-around;
}

/** 垂直居中 */
.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}

/** 清除浮动 */
.clearfix {
    *zoom: 1;
}

@import url("./Loaging.scss");
@import url("./Font.scss");
@import url("./Dnd-kit.scss");